Yoyyetti-together.ai
.DS_Store
.DS_Store
.gitignore
DIB2024.code-workspace
Magasine/~magasine-cover~7wsm$s.idlk
Magasine/New restaurant opening soon.docx
Magasine/Magasine-cover.indd
Magasine/Untitled-2.png
Magasine/Untitled-3.png
Tealight Box/Tealight-01.png
Tealight Box/Tealight-02.png
Tealight Box/Tealight-03.png
Tealight Box/Tealight-04.png
Tealight Box/Tealight-side-01.svg
Tealight Box/Tealight-side-02.svg
Tealight Box/Tealight-side-03.svg
Tealight Box/Tealight-side-04.svg
Tealight Box/Untitled-1.ai
.DS_Store
